html, body { margin:0; padding:0; overflow:hidden }

body {
  background-image: url("../img/parchment-background.jpg");
}

text, p, div {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.name {
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}

.about {
  cursor: default;
  fill: #777;
  font-size: smaller;
}
.link {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

#family_tree {
  width: 100%;
  height: auto;
}

#svgtree {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 10;
}
#popup {
  display: none;
  position: absolute;
  top:10%;
  left:20%;
  width: 60%;
  height: 80%;
  overflow: auto;
  background: #fff;
  z-index: 20;
}

.popupcontrols {
  position: fixed;
  width: 59%;
}

#popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}
.popupcontent {
  padding: 10px;
}

.img-circular{
 width: 200px;
 height: 200px;
 margin-left: auto ;
 margin-right: auto ;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

rect.btn {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
  cursor: pointer;
  cursor: hand;
}

#scroll {
  width:90%;
  margin: 10px 10px 10px 10px;
  float:left;
  height:160px;
/*  margin:100px auto;*/
  background:#F0E0B2;
  border:2px solid #000;
  overflow:auto;
  white-space:nowrap;
  box-shadow:0 0 10px #000;
}

.picture {
  display:inline-block;
  height: 160px;
}

#scroll img {
  margin:3px 3px 3px 3px;
  margin: auto;
  height:150px;
}

#photodiv {
  overflow: hidden;
}

.cardsection .title {
  border-top: 3px solid #DBB84D;
  padding: 10px;
  margin: 30px 10px 0px 10px;
  color: #6B4700;
  text-align: center;
  font-size: 110%;
}

.cardsection .content {
  padding: 10px;
  /*margin: 0px 10px 0px 10px;*/
}

#titlename {
  color: #6B4700;
  text-align: center;
  font-size: 120%;
  margin: 20px;
}

#stats {
  /* margin-left: 10%; */
  text-align: center;
  padding: 20px 0px 0px 0px;
}
